{% extends 'base.html' %}



{% block content %}
    <br />
    <br />
     <div class="album py-5 bg-light">
          <div class="container">
              <div class="row">

                  {% for object in object_list %}

                  <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <a class="nav-link" href="{{ object.get_absolute_url }}">
                  <img class="card-img-top" src="{{ object.image.url }}" height="400" width="100"/>
                  </a>
                    <a class="card-body"></a>
                    <a href="{{ object.get_absolute_url }}"><p class="card-text text-center">{{ object.name }}</p></a>
                </div>
                    </div>
                    {% endfor %}
              </div>
          </div>
      </div>

{% endblock %}