{% extends 'base.html' %}

{% block content %}
       <br /><br /><br /><br />

    <div class="album py-5 bg-light">
          <div class="container">
              <div class="row">

                  <tr>
                  <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <a class="nav-link">
                    {% if object.image %}
                  <img class="card-img-top" src="{{ object.image.url }}" height="400" width="100"/>
                     {% else %}
                        <h5>No Image</h5>
                      {% endif %}
                  </a>
                    <a class="card-body"></a>
                    <a><p class="card-text text-center">{{ object.name }}</p></a>
                </div>
                    </div>
                  </tr>
                  <div class='col-12 col-md-6'>
                  {% include 'product/update_cart.html' with product=object cart=cart %}
                  <tr>
                     <td><b>Description: </b>{{ object.description|linebreaks }}</td>
                     <p><td><b>Price: </b>₹{{ object.price }}</td></p>
{#                     <p><td><b>Stock: </b>{{ object.stock }}</td></p>#}
                     <p><td><b>Available: </b>{{ object.available|yesno }}</td></p>
                     <p><td><b>Created On: </b> {{ object.created|timesince }}</td></p>
                  </tr>
                      </div>

              </div>
          </div>
      </div>

{% endblock %}


